/* SCROLL */
.offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
  }
  
  
  .offer__scroll-container::-webkit-scrollbar {
    width: 1px;
  }
  
  .offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  
  /* FIM SCROLL */

  .offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px; 
  
    /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA */
    display: grid;  /* define o modelo de layout do elemento como uma grade */
    gap: 16px;
    grid-gap: 32px;  /* não é usado mais */
    margin: 0 auto;
  }


  .offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
  }
  
  